# API
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tickets

# Supplier
SUPPLIER_DB_HOST=localhost
SUPPLIER_DB_PORT=5433
SUPPLIER_DB_USER=postgres
SUPPLIER_DB_PASSWORD=postgres
SUPPLIER_DB_NAME=supplier

APP_PORT=8080
SUPPLIER_GRPC_PORT=9090
SUPPLIER_GRPC_ADDRESS=localhost:9090

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

JWT_SECRET=replace-with-a-long-random-secret
DOCUMENT_VERIFICATION_SECRET=replace-with-another-long-random-secret

LOG_FORMAT=text
LOG_LEVEL=debug
